---
import { Badge } from "@/components/ui/badge";
import { experienceItems } from "../../userInformations";
---

<section id="experiences" class="py-1 md:py-2">
    <h2 class="text-xl md:text-2xl font-bold tracking-tighter mb-4 text-center">Work Experience</h2>
    <div class="space-y-4">
        {experienceItems.map(item => (
            <div class="card-gradient p-4 rounded-lg shadow-soft">
                <div class="flex flex-col">
                    <h3 class="text-lg font-semibold">{item.title}</h3>
                    <div class="flex items-center gap-2 text-sm text-muted-foreground">
                        <p>{item.company}</p>
                        <span>•</span>
                        <p>{item.dates}</p>
                    </div>
                    <div class="flex flex-wrap gap-2 mt-2">
                        {item.technologies.map((technology) => (
                            <Badge 
                                variant="outline" 
                                className="text-sm transition-all duration-300 hover:scale-110 hover:bg-accent/10 hover:border-accent/50 hover:shadow-glow cursor-pointer"
                            >
                                {technology}
                            </Badge>
                        ))}
                    </div>
                    <ul class="mt-2 text-sm text-muted-foreground space-y-1">
                        {item.points.map((point) => (
                            <li>{point}</li>
                        ))}
                    </ul>
                </div>
            </div>
        ))}
    </div>
</section>